{%extends "base/base.html" %}
{%block navigation%}
	<div class="nav_buttons">
		<table id="nav_table">
			<tr>	
				<td width="300px" height="30px">
					
					<a href="/cms/user/userList" target="_blank">用户管理</a>
				<td>
				<td width="300px" height="30px">
					<input type="button" id="userManager" value="商品管理">
				<td>
			</tr>
			<tr>	
				<td width="300px" height="30px">
					<input type="button" id="userManager" value="Tag管理">
				<td>
				<td width="300px" height="30px">
					<input type="button" id="userManager" value="Other管理">
				<td>
			</tr>
		</table>
		
		
	</div>
{%endblock%}
{%block content%}
	
{%endblock%}