{% load staticfiles %}
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{% static "basic/basic.css" %}"/>
		<script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
		<script type="text/javascript">
		
			
	       
   		</script >
	</head>
	<link rel="stylesheet" type="text/css" href="{% static "basic/basic.css" %}">
	<h1 id='tableTitle'>用户信息</h1>
	<div id="cmsDetail" width="300px" height="500px" margin>
		<img src="{{user.getIconURL}}" name="userIcon" width="200px" height="200px"/><br/>
		userID：<input type="text" disabled="disabled" name="userID" value="{{user.id}}"/> <br/>
		userName:<input type="text" disabled="disabled" name="userName" value="{{user.nickName}}"/> <br/>
		phoneNum:<input type="text" disabled="disabled" name="phoneNum" value="{{user.phoneNum}}"/> <br/>
		gender:<input type="text" disabled="disabled" name="gender" 
			value="{{user.getGender}}"/> <br/>
			
	</div>
	
</html>